.nav {
  background-color:  #ECFDF5; /* very light green */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #b49595;
}

.nav-container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.nav-logo {
  display: flex;
  width: 20%;
  max-width: 20rem;
  height: 40%;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 3rem;
  width: 100%;
}

.nav-items {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-item {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: #111827;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: color 0.2s, border-bottom 0.2s;
  position: relative;
}

.nav-item:hover,
.nav-item.active {
  color: #000000;
}

.nav-item.active::after {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}